* {
  padding: 0%;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
}

.pageContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageContainer--slidebar {
  display: flexbox;
  background-color: magenta;
  width: 0%;
  height: 100%;
}

.pageContainer--slidebar h1 {
  display: none;
  width: 100%;
  height: 10%;
  font-size: 2rem;
  text-align: left;
}

.pageContainer--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 30%;
  border-right: thick solid #e2e0e0;
}

.pageContainer--info--image {
  display: flexbox;
  width: 100%;
  height: 30vh;
}

.pageContainer--info--image--pic {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pageContainer--info--aboutContainer {
  display: flexbox;
  line-height: 30px;
  width: 80%;
  height: 20%;
  border-bottom: gray thin solid;
  text-align: center;
  font-size: 0.9rem;
  overflow-y: auto;
}

.pageContainer--info--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 5%;
  border-bottom: gray thin solid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pageContainer--info--TodoConta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 45%;
  background-color: #fdf9f8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer--info--TodoConta ul {
  height: 70%;
  width: 100%;
  border: white solid thick;
  overflow-y: scroll;
}

.pageContainer--info--TodoConta ul p {
  text-align: center;
}

.pageContainer--info--TodoConta ul li {
  margin-left: 30px;
}

.pageContainer--info--TodoConta ul li:hover {
  background-color: purple;
  cursor: pointer;
  color: white;
}

.pageContainer--info--TodoConta .form {
  display: flexbox;
  width: 100%;
  height: 20%;
}

.pageContainer--info--TodoConta .form .textarea {
  width: 99%;
  height: 49%;
  font-size: 1.5rem;
}

.pageContainer--info--TodoConta .form .addTodo {
  width: 100%;
  height: 49%;
  background-color: yellowgreen;
}

.pageContainer--main {
  overflow-y: scroll;
  display: flexbox;
  height: 100%;
  width: 70%;
}

.pageContainer--main--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30%;
  border-bottom: solid thin gray;
  background: url(/images/background1.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer--main--image-pic {
  display: flexbox;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.pageContainer--main--image h1 {
  display: flexbox;
  font-size: 4rem;
  color: purple;
  text-shadow: black 2px 2px;
}

.pageContainer--main--navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5%;
  width: 100%;
  border-bottom: solid thin gray;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer--main--navbar h1 {
  width: 100%;
  text-align: center;
}

.pageContainer--main--navbar h1 a {
  text-decoration: none;
  color: gray;
  width: 100%;
}

.pageContainer--main--navbar h1 a:hover {
  width: 100%;
  background-color: #f3eaea;
  color: purple;
}

.pageContainer--main--blogArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 64%;
}

.pageContainer--main--blogArea article {
  width: 100%;
  height: auto;
  border: thin solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.pageContainer--main--blogArea article:hover {
  background-color: #f3eaea;
}

.pageContainer--main--blogArea article .profileImage {
  width: 10%;
  height: 100%;
}

.pageContainer--main--blogArea article .profileImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.pageContainer--main--blogArea article p {
  width: 80%;
}
/*# sourceMappingURL=styles.css.map */